snake-body-color = #f44336
snake-head-color = #fffaf0

html, body
  height 100%
  width 100%

body
  background-color rgba(0, 166, 242, 0.13)
  margin 0

.container
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center

.background-cell
  stroke rgba(3, 169, 244, 0.42)
  stroke-width 1px
  fill #00a6f1

.snake-cell
  stroke rgba(3, 169, 244, 0.42)
  &:not(:last-child)
    fill snake-body-color
  &:last-child
    fill snake-head-color

