snake-body-color = #f44336
snake-head-color = #fffaf0

apple-stroke-color = rgba(3, 169, 244, 0.42);
apple-bg-color = #3dfd40

html, body
  height 100%
  width 100%

body
  background-color rgba(0, 166, 242, 0.13)
  margin 0

.game-container
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center

.score-container
  position fixed
  right 2em
  top 2em

.background
  > rect
    stroke rgba(3, 169, 244, 0.42)
    stroke-width 1px
    fill #00a6f1

.snake
  > rect
    stroke rgba(3, 169, 244, 0.42)
    &:not(:last-child)
      fill snake-body-color
    &:last-child
      fill snake-head-color

.apples
  > circle
    stroke apple-stroke-color
    fill apple-bg-color

.score-text
  font-family: 'Operator Mono', Consolas, sans-serif;
  font-size: 30px;